dyn-*.mk
bin/
version.h
*.o
*.obj
*.lib
*.a
debian/aardmail/
debian/aardmail-dev/
debian/aardmail-dbg/
debian/changelog
debian/tmp/
debian/files
*.substvars
*.debhelper.log
*-stamp
GPATH
GRTAGS
GSYMS
GTAGS
